.nav {
  @apply bg-mipal-dark container flex flex-col fixed w-full;

  top: 25px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .navPrinc {
    @apply flex justify-center p-3 sm:justify-between sm:p-2;
    .logo {
      @apply text-4xl self-center transition-colors sm:text-2xl hover:text-mipal cursor-pointer;
    }

    .list {
      @apply hidden sm:visible sm:flex items-center;
      .article {
        @apply text-xl mx-2 border-b-2 border-transparent hover:text-mipal hover:border-mipal-gray transition-colors cursor-pointer;
      }
    }
  }
}
