@import "tailwindcss";

html {
  background-color: antiquewhite;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  background-color: #050505; /* Color sólido antes de que carguen los gradientes */
  overflow-x: hidden;
}

/* Evita que los márgenes de los H1 o P empujen el layout hacia abajo */
* {
  margin-top: 0;
}
