@import "tailwindcss";

html {
  background-color: antiquewhite;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  background-color: #050505;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

* {
  margin-top: 0;
}
