.card {
  background-color: #535c9166;

  @apply rounded-xl my-40 p-16 text-3xl flex flex-col;

  .sectionTitle {
    @apply flex content-center mb-10;

    .titleDecoration {
      @apply hidden sm:block border self-center mx-4 w-48;
    }
  }

  .proyectsContainer {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-4;

    .proyectContainer {
      &:hover {
        .proyectImg {
          @apply blur-lg;
        }

        .proyectName {
          opacity: 1;
        }
      }

      @apply w-full h-80 overflow-hidden rounded-xl relative cursor-pointer;

      .proyectImg {
        transition: filter 0.5s ease-in-out;
        @apply w-full h-full object-cover rounded-xl;
      }

      .proyectName {
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
        background-color: #070f2baa;
        @apply absolute top-1/2 left-1/2 p-4 rounded-full;
      }
    }
  }

  .proyectInfoContainer {
    @apply flex flex-col items-center;

    .proyectTitle {
      @apply text-center text-5xl m-8;
    }
    .proyectVideoContainer {
      @apply flex justify-center w-videoMinW h-videoMinH sm:w-videoSMW sm:h-videoSMH md:w-videoMDW md:h-videoMDH lg:w-videoLGW lg:h-videoLGH xl:w-videoFullW xl:h-videoFullH border;
    }

    .description {
      @apply py-5 text-xl md:text-3xl md:p-16;
    }
  }
}
