.background {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 2000;

  background-color: #000a;
  width: 100vw;
  height: 100vh;
}

.card {
  background-color: #242f54;
  z-index: 5000;

  @apply container relative m-auto rounded-xl my-40 p-16 text-lg sm:text-3xl flex flex-col;

  .sectionTitle {
    @apply flex content-center mb-10 justify-end;

    .titleDecoration {
      @apply hidden sm:block border self-center mx-4 w-48;
    }
  }
}
